.myclass-nav5 {
  background-color: rgb(245, 245, 245);
  width: 270px;
  //   border-right: 1px solid black;
  height: 100%;
  position: fixed;
  border-top: 1px solid rgb(136, 136, 136);
  .nav2-border {
    border-bottom: 1px solid rgb(224, 224, 224);
    width: 100%;
    margin-top: 75px;
  }
  .nav-contents {
    margin-top: 25px;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    .nav-title {
      margin: 15px 0;
      font-size: 16px;
      opacity: 0.9;
    }
    .nav-title-done {
      margin: 15px 0;
      font-size: 16px;
      opacity: 0.9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
    }
    .nav-content {
      padding: 9px 0 9px 25px;
      font-size: 16px;
      opacity: 0.6;
    }
    .nav-content-doing {
      padding: 9px 0 9px 25px;
      font-size: 16px;
      font-weight: 570;
      background-color: white;
    }
    .nav-content-done {
      padding: 9px 0 9px 25px;
      font-size: 16px;
      color: rgb(112, 112, 112);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
    }
  }
}
